@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root{
    --placeholder:#B4B6B8;
    --divider:#292929;
    --accent-1:#3778FA;
    --accent-2:#FA375C;
    --background: #141414;
    --text: #FFFFFF;
    --subtext: #D2D3D6;
    /* ;
    --divider:#F2F3F5;
    --accent-1:#3778FA;
    --accent-2:#FA375C;
    --background: #FFFFFF;
    --text: #141414;
    --subtext: #78797A;
     */
    --padding: 24px;
}
html { scroll-behavior: smooth; }
html,
body,
main,
#__next {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 948px;
}

body {
  background-color: var(--background);
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
  color: var(--text);
  font-size: 20px;
}

h1, p {
  margin: 0
}

a {
    color: var(--accent-1);
    text-decoration: none;
}

.subtext {
    color: var(--subtext);
}

.placeholder {
    color: var(--placeholder);
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

button,
.button {
    display: inline-block;
  color: var(--background);
  background-color: var(--accent-1);
  height: 48px;
  line-height: 48px;
  width: auto;
  padding: 0px var(--padding);
  border-radius: 24px;
  transition: all .225s linear;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

button:hover,
.button:hover {
  opacity: .75;
  border-color: var(--accent-1);
}

.disabled,
button:disabled,
.button:disabled {
  cursor: not-allowed;
  pointer-events:none;
  background-color: var(--placeholder);
}

.indicator {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
.indicator {
    display: inline-block;
    margin: 8px auto;
}
.indicator:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: indicator 1.2s linear infinite;
}
@keyframes indicator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding);
    box-sizing: border-box;
}

nav img {
    display: block;
    height: 48px;
    width: auto;
    fill: #3778FA;
}

nav ul {
    float: right;
}
nav li {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    overflow: hidden;
}
nav a {
    display: block;
}

#splash {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#splash .view {
    flex: 1;
    padding: 24px 24px 48px 24px;
    box-sizing: border-box;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    padding: 52px 24px 48px 24px;
    box-sizing:border-box;
    border-top: 4px solid var(--divider);
}

.view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.view.reverse {
    flex-direction: row-reverse;
}
.view .image {
    width: 50%;
    height: auto;
    min-width: 50%;
    max-width: 400px;
    padding: 0 0 0 var(--padding);
    box-sizing: border-box;
}
.view.reverse .image {
    padding: 0 var(--padding) 0 0;
}
.view .image img {
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
}
.view .content {
    min-width: 50%;
}
.view .content > *:not(:last-child) {
    margin-bottom: 24px;
}
.view .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: var(--padding);
}

.math {
    font-size: 16px;
    display: block;
}
.indent {
    display: block;
    margin-left: 24px;
}
.math .label {
    display: inline-block;
    width: 48px;
}
.math.where {
    margin: 8px 0;
}
#shift .note {
    font-size: 14px;
}

#collection .footnote {
    font-size: 16px;
}

#calculator label {
    display: block;
    font-size: 14px;
    color: var(--subtext);
}
#calculator label:not(:last-child) {
    margin-bottom: 24px;
}
#calculator input {
    display: block;
    height: 48px;
    width: 100%;
    color: var(--text);
    padding: 0 var(--padding);
    border-radius: 24px;
    background-color: var(--divider);
    border: none;
    box-sizing: border-box;
    margin-top: 8px;
}
#calculator input::placeholder {
    color: var(--placeholder);
}

#calculator.tabs {
    text-align: center;
    margin-bottom: 24px;
}
#calculator .tab {
    margin: 0px 8px;
    background-color: var(--divider);
    color: var(--placeholder);
}
#calculator .tab.active {
    background-color: var(--accent-1);
    color: var(--background);
}

#calculator .rate {
    text-align: center;
    margin: 0 auto 24px auto;
    color: var(--accent-1);
}
#calculator .rate-label {
    font-size: 18px;
    font-weight: 400;
}

#get-started .action {
    margin-top: 8px;
}
#get-started .clock-in {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#get-started .clock-in i {
    max-width: 100px;
    margin-left: 8px;
    font-size: 14px;
}

#footer {
    padding: var(--padding);
    background-color: var(--divider);
}
#footer .title {
    display: block;
    text-align: center;
    padding: var(--padding) 0;
}
#footer footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding) 0;
}
#footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer .copyright span {
    font-size: 14px;
    display: block;
    margin-left: 16px;
}
#footer .socials {
    text-align: right;
}
#footer .socials a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    overflow: hidden;
}
#footer .socials img {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 800px) {
    .view, 
    .view.reverse {
        flex-direction: column;
    }
    .view .image,
    .view.reverse .image {
        width: 100%;
        max-width: 540px;
        padding: var(--padding) 0 0 0;
    }
    .view .content {
        width: 100%;
        max-width: 540px;
    }
}